h1 {
  display: inline;
  line-height: 50px;
  font-size: 54px;
  margin-left: 10px;
}
h2 {
  color: black;
}
ul {
  list-style: none;
  padding: none;
  margin: none;
}
.temperatureUnit {
  font-size: 16px;
  font-weight: 24px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  line-height: 24px;
  position: relative;
  bottom: 27px;
}
.todayEmoji {
  margin-top: 12px;
  padding: 10px;
  font-weight: bold;
}
.todayEmoji canvas {
  display: inline-block;
  height: 40px;
  width: 40px;
}
.weatherType {
  display: inline-block;
  text-align: left;
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  padding-left: 0px;
  position: relative;
  top: 35px;
}
.location {
  color: grey;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
}
#my-location-button {
  margin-left: 44px;
}
